# Testing
## Android build app path
APP_PATH=<LOCAL_PATH/app-release-unsigned.apk>

## iOS build app path
APP_PATH=<LOCAL_PATH/App.app>

## Choose the environment in the configs folder (local/remote/prod)
ENVIRONMENT=local

# This is used to tunnel iOS/Android simulators to host machine's localhost, will override config. Leave commented out if not needed
#KERIA_IP=127.0.0.1

# Skip onboarding flow in development mode
DEV_SKIP_ONBOARDING=true

# Security configuration for freeRASP
APP_CERT_HASH=SESgZA4IIYBMp2rSEMdwazuTnH9/95QFzJQcViQdslI=
WATCHER_MAIL=yourWatcherMail

## iOS
APP_TEAM_ID=yourTeamID
